<%- include('../partials/header') %> 
<p>Welcome to <%= title %></p>
<table class="table" id='list'>
  
  <tbody>
    <div class="lessons">
        <a class="addclass"
        href="/classes/new" 
        <%- title === 'Add Class' ? 'class="active"' : '' %>
      >ADD Class</a>
    
    <% lessons.forEach( l => { %>
      <li>
        
          <a class="classes" href="/classes/<%= l._id %>"><%= l.title %></a>
          
         </li><br>
  <% }) %>
</div>
  </tbody>
</table>
<%- include('../partials/footer') %> 