<%- include('../partials/header') %> 
<p>Welcome to <%= title %></p>
<table id='list'>
  <thead>
    <tr>
      <th>Location</th>
      <th>Title</th>
      <th>Price</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <a 
      href="/classes/new" 
      <%- title === 'Add Class' ? 'class="active"' : '' %>
    >ADD Class</a>
    <% lessons.forEach( l => { %>
      <li>
          <form action="/classes/<%= l._id %>?_method=DELETE" method="POST">
              <button type="submit">X</button>
          </form>
          <a href="/classes/<%= l._id %>"><%= l.title %></a>
          
         </li><br>
  <% }) %>
     
  </tbody>
</table>
<%- include('../partials/footer') %> 