<%- include('../partials/header') %> 
<p>Welcome to <%= title %></p>
<table id='list'>
    <thead>
      <tr>
        <th>Gallery</th>
        <th>Level</th>
        <th>Instructor</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% classes.forEach((c) => { %>
        <tr>
          <td><%= c.price %></td>
          <td><%= c.level %></td>
          <td><%= c.instructor %></td>
          <td><%= c.rating %></td>
          <!-- <td><a href="/flights/<%= f._id %>"> FLIGHT DETAILS</a></td> -->
        </tr>
      <% }) %>
    </tbody>
  </table>
<%- include('../partials/footer') %> 