<%- include('../partials/header') %>
<section class="layout" id="show-page">
  <div class="description">
    <div class="left">
      <div class="location">
        <div>Location: </div>
        <div><%= lesson.location %></div>
      </div>
      <div class="classTitle">
        <div>Title: </div>
        <div><%= lesson.title %></div>
      </div>
      <div class="price">
        <div>Price: </div>
        <div>$<%= lesson.price %></div>
      </div>
      <div class="instructor">
        <div>Instructor: </div>
        <div><%= lesson.instructor.name %></div>
      </div>
    </div>
    <div class="right">
      <img class="photo" src="<%=pictures[`${lesson.title}`] %>" alt="">
    </div>
  </div>

<%if(!lesson.students.includes(user._id)){%>
  <form action="/classes/register/<%=lesson._id%>" method="POST">
    <input type="text" hidden name="students" value="<%=user._id%>">
    <button type="submit">Register</button>
  </form>
  <% } %>
  
    

</section>
<% if(lesson.instructor._id.toString() === user._id.toString()){%>
<a href="/classes/<%= lesson._id %>/edit">Edit</a>
<% }else{ %> 
  <p></p>
<%}%>
</p>

  <% let total = 0 %>
 
  <%if(lesson.students.includes(user._id)){%> 
    <form action='/classes/<%= lesson._id%>' method='POST'>
      <label>Review:</label>
        <input type="text"  name="content">
        <input type="number" name="rating" >
        <input type="text" name="reviewer" hidden value="<%= user._id%>">
        <button type="submit" value="Add review">Submit</button>
    </form>
 <% } %> 
 
  <% lesson.reviews.forEach(r => { %>
  <% total+= r.rating %>
  <p>
    <%= r.rating %> - 
    <img width="20" id="avatar" src="<%= r.reviewer.avatar %>" alt="">
    <%= r.reviewer.name %>
  </p>
  <p><%= r.content %></p>
<% }) %>
Average Rating: <%= total/lesson.reviews.length%> 
<p>

  

<%- include('../partials/footer') %>