<%- include('../partials/header') %>
<section id="show-page">
  <div>Location: </div>
  <div><%= lesson.location %></div>
  <div class="classTitle">
    <div>Title: </div>
    <div><%= lesson.title %></div>
  </div>
  <div>Price: </div>
  <div>$<%= lesson.price %></div>
  <div>Instructor: </div>
  <div><%= lesson.instructor.name %></div>
  <img class="classImg" src="<%=pictures[`${lesson.title}`] %>" alt="">

  <form action="/classes/register/<%=lesson._id%>" method="POST">
    <input type="text" hidden name="students" value="<%=user._id%>">
    <button type="submit">Register</button>
  </form>
 
  
  <form action="/classes/<%= lesson._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
</section>
<a href="/classes/<%= lesson._id %>/edit">Edit</a>
</p>

  <% let total = 0 %>
  <% lesson.students.forEach(s => {%>
  if(s.user._id === user._id) {
    <form action='/classes/<%= lesson._id%>' method='POST'>
      <label>Review:</label>
        <input type="text"  name="content">
        <input type="number" name="rating" >
        <input type="text" name="reviewer" hidden value="<%= user._id%>">
        <button type="submit" value="Add review">Submit</button>
    </form>
  <% lesson.reviews.forEach(r => { %>
  <% total+= r.rating %>
  <p>
    <%= r.rating %> - 
    <img width="20" id="avatar" src="<%= r.reviewer.avatar %>" alt="">
    <%= r.reviewer.name %>
  </p>
  <p><%= r.content %></p>
<% }) %>
Average Rating: <%= total/lesson.reviews.length%> 
<p>

  }  
  <%}) %>

<%- include('../partials/footer') %>