<%- include('../partials/header') %>
<section id="show-page">
  <div>Location: </div>
  <div><%= lesson.location %></div>
  <div>Title: </div>
  <div><%= lesson.title %></div>
  <div>Price: </div>
  <div><%= lesson.price %></div>
  <div>Rating: </div>
  <div><%= lesson.rating %></div>
</section>

<%- include('../partials/footer') %>